@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

/* apply globally */
html,
body {
  @apply font-sans;
  scroll-behavior: smooth !important;
}
